<h1
  style="
    margin: 0 0 28px 0;
    color: #111827;
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
  "
>
  KYC application update
</h1>

<p
  style="
    margin: 0 0 12px 0;
    color: #111827;
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
  "
>
  Dear {{name}},
</p>

<p
  style="
    margin: 0 0 24px 0;
    color: #53627c;
    font-size: 16px;
    line-height: 25px;
  "
>
  We have completed the review of your KYC application. Unfortunately,
  your application could not be approved at this time.
</p>

<p
  style="
    margin: 0 0 24px 0;
    color: #53627c;
    font-size: 16px;
    line-height: 25px;
  "
>
  No trading account has been opened for your account.
</p>

<p
  style="
    margin: 0;
    color: #53627c;
    font-size: 14px;
    line-height: 23px;
  "
>
  If you need assistance or would like more information, please
  <a
    href="{{supportUrl}}"
    style="
      color: #1265ef;
      text-decoration: none;
      font-weight: 600;
    "
  >
    contact support
  </a>.
</p>