<h1
  style="
    margin: 0 0 28px 0;
    color: #111827;
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
  "
>
  Password Changed Successfully
</h1>

<p
  style="
    margin: 0 0 12px 0;
    color: #111827;
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
  "
>
  Dear {{name}},
</p>

<p
  style="
    margin: 0 0 24px 0;
    color: #53627c;
    font-size: 16px;
    line-height: 25px;
  "
>
  Your TradePro account password has been changed successfully.
</p>

<table
  role="presentation"
  width="100%"
  cellspacing="0"
  cellpadding="0"
  border="0"
  style="
    margin-bottom: 26px;
    background-color: #f4f8ff;
    border-radius: 10px;
  "
>
  <tr>
    <td
      style="
        padding: 18px 20px;
        color: #26344d;
        font-size: 14px;
        line-height: 22px;
      "
    >
      For your security, your existing sessions have been signed out.
      Please sign in again using your new password.
    </td>
  </tr>
</table>

<p
  style="
    margin: 0;
    color: #53627c;
    font-size: 14px;
    line-height: 23px;
  "
>
  If you made this change, no further action is required.
  <br /><br />

  If you did not change your password, please
  <a
    href="{{supportUrl}}"
    style="
      color: #1265ef;
      text-decoration: none;
      font-weight: 600;
    "
  >
    contact support
  </a>
  immediately.
</p>